.container {
    max-width: 1000px;
}

.h1 {
    color: $primary-color;
    font-family: $font-fraunces;
    font-size: 3.1rem;
    font-style: italic;
    font-weight: 800;
}

.custom-btn {
    display: inline-block;
    padding: 10px 12px;
    border: none;
    text-decoration: none;
    color: #000000;
    font-weight: 200;

    &:hover {
        opacity: .9;
    }
}

.custom-btn-1 {
    background-color: $second-color;
    color: white;
}

.font-fraunces{
    font-family: $font-fraunces;
}